:root {
  --cor-fonte-principal: #f6f6f6;
  --cor-fonte-secundario: #E384FF;
  --cor-fundo-principal: #000000;
  --cor-botao-principal: #865DFF;
  --cor-box-menu: #ffa3fd;
  --cor-texto-menu: #751b91;
  --fonte-principal: 'Josefin Sans';
  --fonte-secundaria: 'Roboto';
  --fonte-menu: 'Bebas Neue';
}

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--cor-fundo-principal);
  color: var(--cor-fonte-principal);
}

.cabecalho{
  background-color: var(--cor-box-menu);
  display: flex;
  height: 5vh;
  /*margin: 0 0 3em 0;*/
  align-items: center;
  
}

.logo__responsivo {
  
  font-family: var(--fonte-principal);
  color: var(--cor-texto-menu);
  font-size: 20px;
  font-weight: 700;
  border: 2px solid var(--cor-texto-menu);
  border-radius: 10px;
  padding: 0.2em 0.2em;
  margin: 0 0 0 1em;
}

.cabecalho__menu {
  margin: 0.05em 0 0 1.25em;
  font-family: var(--fonte-menu);
  font-size: 24px;
  font-weight: 400;
  
  
}

.cabecalho__menu__link {
  color: var(--cor-texto-menu);
  text-decoration: none;
  margin: 0 1em 0 0;
  
}

.cabecalho__menu__link:hover {
  color: var(--cor-fonte-principal);
}

.icone__menu__responsivo {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--cor-texto-menu);
  align-items: center;
  display: none;
}

.dropdown__menu {
  display: none;
  position: fixed;
  top: 77px;
  height: 0;
  left: 0.25em;
  width: 400px;
  background-color: rgba(255, 163, 253, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden; 
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.dropdown__menu li {
  list-style: none;
}

.dropdown__menu.open {
  height: 500px;
  color: var(--cor-texto-menu);
}


.dropdown__menu a {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
}

.dropdown__menu a:hover {
  color: var(--cor-fonte-principal);
}

.icone__menu__responsivo2 {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--cor-box-menu);
  background-color: var(--cor-texto-menu);
  align-items: center;
  display: none;
}

.botao__responsivel__sidebar {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--cor-fonte-principal);
  background-color: #E384FF;
 
  justify-content: left;
}

.icone__menu__responsivo:hover {
  color: var(--cor-fonte-principal);
}



img {
  width: 100%;
  border-radius: 20px;
}

.sessao__principal {
  max-width: 1200px;
  gap: 1em;
  display: grid;
  margin: 0 auto 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "sessao__principal__box1 sessao__principal__box2"
    "sessao__principal__box1 sessao__principal__box3"
  ;
}

.sessao__principal__box1 {
  grid-area: "sessao__principal__box1";
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin: 3em 1em 0 0;
}

.sessao__principal__box2 {
  grid-area: "sessao__principal__box2";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex; 
  align-items: end;
  justify-content: center;
  gap: 1em;
}

.sessao__principal__imagem1 {
  width: 290px;
  height: 290px;
  
}

.sessao__principal__imagem2 {
  width: 290px;
  height: 290px;
}

.sessao__principal__box3 {
  grid-area: "sessao__principal__box3";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex; 
  align-items: center;
  gap: 2em;
}

.sessao__principal__imagem3 {
  width: 600;
  height: 300px;
}

.sessao__principal__2 {
  max-width: 1200px;
  gap: 1em;
  display: grid;
  margin: 0 auto 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "sessao__principal__2__box1 sessao__principal__2__box2"
  "sessao__principal__2__box1 sessao__principal__2__box2"
  ;
}

.sessao__principal__2__box1 {
  grid-area: "sessao__principal__2__box1";
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;   
  align-items: center;
  justify-content: center;
  gap: 2em;
  
}

.sessao__principal__2__box2 {
  grid-area: "sessao__principal__2__box2";
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.sessao__principal__2__imagem1 {
  height: 500px;
  width: 300px;
  align-items: center;
  margin: 5em 0 0 0;
}

.sessao__gaia {
  max-width: 1200px;
  gap: 1em;
  display: grid;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sessao__gaia__box1 {
  margin: 9em 0 0 0;
}

.sessao__gaia__box3 {
  align-content: center;
  justify-content: center;
}

.titulo__principal {
  margin: 0 0 1em 0;
  text-align: center;
  font-family: var(--fonte-principal);
  font-size: 32px;
  font-weight: 700;
  color: var(--cor-fonte-secundario);
}

.titulo__principal__str {
  color: var(--cor-fonte-principal)
}

.paragrafo__principal__str {
  color: var(--cor-fonte-secundario);
}

.paragrafo {
  font-size: 24px;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  margin: 0.50em 0;
}


.titulo__secundario {
  margin: 3em 0 1em 0 ;
  font-family: var(--fonte-principal);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.titulo__secundario__str {
  color: var(--cor-fonte-secundario);
}




.titulo__planeta {
  text-align: center;
  color: var(--cor-fonte-secundario);
  font-family: var(--fonte-principal);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1em;
}

.conteiner__botao {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  gap: 1em;
  height: 15vh;    
}

.botao__escolha__sim__box {
  margin: 1em 0; 
}

.botao__escolha__sim {
  text-decoration: none;
  color: var(--cor-fonte-principal);
  padding: 0.25em 0.25em;
  background-color: var(--cor-botao-principal);
  border-radius: 10px;
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 20px;
}

.botao__escolha__nao {
  text-decoration: none;
  color: var(--cor-botao-principal);
  padding: 0.25em 4em;
  border: 1px solid var(--cor-botao-principal);
  border-radius: 10px;
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 20px;
}

.botao__escolha__sim:hover {
  background-color: var(--cor-texto-menu);
  color: var(--cor-fundo-principal);
 
}

.botao__escolha__nao:hover {
  background-color: var(--cor-texto-menu);
  color: var(--cor-fonte-principal);
}

.botao__escolha__nao__box {
  margin: 1em 0;  
}

.respostanao__box{
margin: 4em 0 0 37em;
}
.fim{
  text-align: center;
}

